.page-header{
    text-align: left;
}
.alert-success{
    text-align: center;
    font-size: 20px;
}
.h2One{
    text-align: left;
    color: black;
    font-size: 17px;
}
.thumbnail{
    width:150px;
    height:150px;
}
.h-h-two{
    font-weight: bold;
    /*font-style: oblique;*/
    text-align: justify;
}